<!DOCTYPE html>
<html lang="en">
  <body style="margin: 0; padding: 20px; background-color: #faebd7;"> <!-- 배경색 추가 -->
    <!-- 전체 박스 -->
    <table align="center" width="100%" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: 20px auto; background-color: #F2F2F2	; font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', Arial, sans-serif; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
      <tbody>
        <!-- 상단 헤더 -->
        <tr>
          <td style="padding: 10px 20px; background-color: #faf0e6; text-align: center;">
            <table width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <!-- ASAAC 카페 링크 -->
                <td align="left">
                  <a href="https://cafe.naver.com/asaacesg" target="_blank" style="font-size: 24px; font-weight: bold; color: #003366; text-decoration: none;">ASAAC</a>
                </td>
                <!-- 링크드인 아이콘 -->
                <td align="right">
                  <a href="https://linkedin.com/company/asaac" target="_blank" style="text-decoration: none;">
                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" width="20" height="20" style="vertical-align: middle;">
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>


        <!-- 헤더 문구 -->
        <tr>
          <td style="text-align: center; padding: 10px; background-color: #d2ddeb;">
            <h1 style="font-size: 22px; color: #003366; margin: 10px 0;">ESG/DX 일일 브리핑</h1>
            <br>
            <p style="font-size: 12px; color: #777777; margin: 5px 0;">아침 사과의 아삭함과 같이</p>
            <p style="font-size: 12px; color: #777777; margin: 5px 0;">매일 주요 보도자료 요약/인사이트를 드립니다.</p>
            <br>
            <a href="https://open.kakao.com/o/grtDi31g" style="display: inline-block; width: 160px; padding: 10px 0; background-color: #3C1E1E; color: #FAE100; text-decoration: none; border-radius: 25px; font-size: 12px; font-weight: bold; text-align: center;">오픈채팅 참여하기</a>
            <p style="font-size: 10px; color: #777777; margin: 10px 0;">아삭한 ESG 크루는 열린 소통을 환영합니다.</p> <br>
         </td>
        </tr>


        <!-- ESG 동향 -->
        <tr>
          <td style="padding: 20px;">
            <h2 style="font-size: 20px; color: #003366; margin: 0 0 10px;">ESG 동향</h2>
            <p style="font-size: 14px; color: #222222; margin: 0;">{{ ESG_소식 }}</p>
            <div style="border-top: 1px solid #ddd; margin: 15px 0;"></div> <!-- 구분선 -->
          </td>
        </tr>


        <!-- DX 동향 -->
        <tr>
          <td style="padding: 20px;">
            <h2 style="font-size: 20px; color: #003366; margin: 0 0 10px;">DX(디지털 전환) 동향</h2>
            <p style="font-size: 14px; color: #222222; margin: 0;">{{ DX_소식 }}</p>
            <div style="border-top: 1px solid #ddd; margin: 15px 0;"></div> <!-- 구분선 -->
          </td>
        </tr>


        <!-- 문의/상담하기 -->
        <tr>
          <td style="text-align: center; padding: 0px;">
            <a href="mailto:asaac.corp@gmail.com?subject=개선 요구사항&amp;body=안녕하세요, 뉴스레터를 통해 연락 드립니다."
              style="display: inline-block; width: 200px; padding: 10px 0; background-color: #6da7f2; color: #F2F2F2; text-decoration: none; border-radius: 25px; font-size: 14px; font-weight: bold; text-align: center;">
              문의/상담하기
            </a>
          </td>
        </tr>


        <!-- 구독 신청/해지 -->
        <tr>
          <td style="text-align: center; padding: 20px 10px;">
            <a href="https://forms.gle/rMzrDcKLTFHTid7LA"
              style="display: inline-block; width: 200px; padding: 10px 0; background-color: #1abc9c; color: #F2F2F2; text-decoration: none; border-radius: 25px; font-size: 14px; font-weight: bold; text-align: center;">
              구독 신청/해지
            </a>
          </td>
        </tr>


        <!-- 푸터 -->
        <tr>
          <td style="padding: 20px; font-size: 10px; color: #808080; background-color: #faf0e6; text-align: center;">
            <div style="color: #222; font-weight: bold; margin-bottom: 10px;">© 2024 ASAAC Co.</div>
            <div>
              ASAAC은 여러분의 성장과 함께하는 솔루션/컨설팅을 제공합니다.
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>

