<!DOCTYPE html>
<html lang="en">
    <table align="center" width="100%" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: auto; background-color: #ffffff; border: 1px solid #ddd; font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', Arial, sans-serif;">
        <tbody><tr>
          <td style="text-align: center; padding: 20px; background-color: fafafa;">
            <h1 style="font-size: 24px; color: #222222; margin: 0;">아삭한 국내/해외주식 일일 브리핑</h1>
            <p style="font-size: 14px; color: #7f8c8d; margin: 10px 0;"><br>아침 사과의 아삭함과 같이</p>
            <p style="font-size: 14px; color: #7f8c8d; margin: 10px 0;">최근 24시간 주요 보도 자료를 요약하여 전달드립니다.</p>
          </td>
        </tr>
        <tr>
          <td style="padding: 20px; border-top: 1px solid #ddd;">
            <h2 style="font-size: 20px; color: #1abc9c; margin: 0 0 10px;">국내주식 동향</h2>
            <p style="font-size: 14px; color: #222222; margin: 0;"><br>{{ 국내주식_동향 }}<br></p>
          </td>
        </tr>
        <tr>
          <td style="padding: 20px; border-top: 1px solid #ddd;">
            <h2 style="font-size: 20px; color: #1abc9c; margin: 0 0 10px;">해외주식 동향</h2>
            <p style="font-size: 14px; color: #222222; margin: 0;"><br>{{ 해외주식_동향 }}<br></p>
          </td>
        </tr>
    <tr>
      <td style="text-align: center; padding: 20px 25px 10px; border-top: 1px solid #ddd;">
        <a href="mailto:asaac.corp@gmail.com?subject=개선 요구사항&amp;body=안녕하세요, 개선 사항을 제안드립니다." style="display: inline-block; width: 200px; text-align: center; padding: 10px 0; background-color: #1abc9c; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 14px; font-weight: bold;">
          개선 요구사항
        </a>
      </td>
    </tr>
    <tr>
      <td style="text-align: center; padding: 10px 25px 20px; border-bottom: 1px solid #ddd;">
        <a href="https://forms.gle/rMzrDcKLTFHTid7LA" style="display: inline-block; width: 200px; text-align: center; padding: 10px 0; background-color: #3498db; color: #ffffff; text-decoration: none; border-radius: 5px; font-size: 14px; font-weight: bold;">
          구독 신청/해지
        </a>
      </td>
    </tr>
        <tr>
    </tr>
    <tr>
      <td style="padding: 20px; font-size: 13px; line-height: 1.6; color: #808080; font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', Arial, sans-serif; background-color: fafafa;">
        <div style="margin-bottom: 10px; color: #222; font-weight: bold;">
          © 2024 ASAAC Co.
        </div>
        <div style="margin-bottom: 10px;">
    <a>아삭한 ESG 팀은 열린 소통을 환영합니다.  |  </a>
          <a href="https://linkedin.com/company/asaac" style="color: #3498db; text-decoration: underline;" target="_blank">링크드인</a>  |  
          <a href="https://open.kakao.com/o/grtDi31g" style="color: #3498db; text-decoration: underline;" target="_blank">오픈채팅</a>
        </div>
      </td>
    </tr>
      </tbody></table>
    
    
    
</html>
